# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/lib/generated/prisma


#db
dev.db

#logs
logs/*

#env
.env

#prisma
prisma/migrations
prisma/schema.prisma
prisma/schema.prisma.bak
prisma/schema.prisma.bak.2
prisma/schema.prisma.bak.3
prisma/schema.prisma.bak.4
prisma/schema.prisma.bak.5
prisma/schema.prisma.bak.6
prisma/schema.prisma.bak.7
prisma/schema.prisma.bak.8
prisma/schema.prisma.bak.9

